.Item{
    margin: 0;
    padding: 0;

}
.ItemContents{
    margin: 20px;
    margin-left: 0px;
    background-color: grey;
    width: 500px;
    height: 800px;  
  
}

.ItemContent{
margin: 20px;
background-color: grey;
width: 700px;
height: 800px;
margin-right: 0px;
}
.images{
    overflow: hidden;
    text-align: left;
    float: left;
}
.images img{
width: 100px;
height: 70px;
margin: 15px;
cursor: pointer;
transition: 0.4s;
}
.images :hover{
    opacity:0.8;
}
.pre{
    width: 510px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-left: 0;
}
.pre img{
    height: 100%;
    width: 100%;
}
.ItemParts{
    display: inline-block;
    height: 800px;


}
.ItemDetails{
width: 500px;
height: 800px;  

}
.ItemTitle{
    float: left;
}

.ItemDesc{
    display: inherit;
}
.AddToCart{
    float: right;
}



.TwoItem{
display: inline-block;
}