.dash_general {
  color: red;

}

.btn click-me {
  color: red;
}

.ballout {
  font-size: 1em;
  margin: auto;
}

.dashform {
  float: left;
  border-style: double;
  padding: 20px;
  margin-top: 50px;
}

.navbar {
  margin: 20px;
}

.navbar.navbar-expand-lg.navbar-light.pagescrollfix {

  padding: .7em 1em;
  display: block;

}

.header-most-top .App {

  display: none;
}

.block {
  display: block;
  width: 100%;
  border: 2px solid rgb(1, 10, 1);
  /* Green */
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 4em;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}

/* .input_field{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  } */


* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: auto;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.save {
  float: left;
  width: 25%;
  margin-top: 6px;
  background-color: grey;
  color: white;
  width: 20%;
  padding: 12px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;


}

.footer {

  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 2em;

}